@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#coupang-ads-target iframe, 
#coupang-ads-target div {
  position: relative !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  top: auto !important;
  margin: 0 auto !important;
}

#coupang-ads-target iframe {
  /* 박스 안에서 상대적으로 3px만큼 밑으로 밀어냅니다 */
  position: relative !important;
  top: 3px !important; 
  
  /* 박스를 뚫고 나가지 않게 조절 */
  border-radius: 1.5rem !important; 
}

